
    <div class="more-info about-info" id="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    {{!-- <span>our solid background on finance</span> --}}
                    <h2>Get to know about <em>our company</em></h2>
                    <p style="font-size :20px;" >Al Asar Onlines social media marketing agency that aims to build a social media marketing strategy that will help your brand tackle its goals with a sense of purpose. Our social media marketing process entails the key steps so you can fully trust us to identify your goals, engage your audience through social media marketing and optimize your results:</p>
                    <ol class="about_ol">
                      <li>Set actionable social media marketing goals (SMART GOALS)</li>
                      <li>Research your audience</li>
                      <li>Establish your most important metrics (KPIs)</li>
                      <li>Analyze your competition (Competitor Research)</li>
                      <li>Create and curate engaging content</li>
                      <li>Make timeliness a top priority</li>
                      <li>Assess your results and optimize</li>
                       </ol>
                    {{!-- <a href="" class="filled-button">Read More</a> --}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/about-image.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>