<div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  {{!-- <h6>we are ready to help you</h6> --}}
                  <h4>Social Media Management</h4>
                  <p>We help businesses attract, convert, and retain more customers through our digital marketing strategies.</p>
                  <a href="/contact" class="filled-button">contact us</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  {{!-- <h6>we are here to support you</h6> --}}
                  <h4>Grow your business with us</h4>
                  <p>We take the fear and frustration out of social media as we take you through the exact process of the journey.</p>
                  <a href="/services" class="filled-button">our services</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  {{!-- <h6>we have a solid background</h6> --}}
                  <h4>Our strategy</h4>
                  <p>Our social media marketing process entails the key steps so you can fully trust us to identify your goals, engage your audience through social media marketing and optimize your results</p>
                  <a href="/about" class="filled-button">More about us</a>
                </div>
            </div>
          </div>
        </div>
    </div>