<div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/slide_03.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Who we are</span>
                    <h2>About <em>our company</em></h2>
                    <p>Bhakkar Tech Hub is a social media marketing agency that aims to build a social media marketing strategy that will help your brand tackle its goals with a sense of purpose. Our social media marketing process entails the key steps so you can fully trust us to identify your goals, engage your audience through social media marketing and optimize your results</p>
                    <a href="/about#about_section" class="filled-button">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>