<header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Bhakkar Tech Hub</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home
                  {{!-- <span class="sr-only">(current)</span> --}}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="/services">Our Services</a>
              </li>                          
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/portfolio">Portfolio</a>
              </li> --}}
              <li class="nav-item">
                <a class="nav-link" href="/pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              
            </ul>
            <div class="wp-button mt-2 ml-3 mb-2"> <a href="https://wa.me/+923121692429" target="__blank" class="filled-button"><i class="fa fa-whatsapp" style="size: 20px;"></i> Whatsapp</a></div>
          </div>
        </div>
      </nav>
    </header>