
    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1'>SOCIAL MEDIA AUDIT<i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-2' style="font-size: 1.1rem;">Social Media Management <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-3'>Studio Services <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-4'>Social Media Ads <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
          <div class="col-md-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="assets/images/single_service_01.jpg" alt="">
                <h4>SOCIAL MEDIA AUDIT</h4>
                <p>The best first step toward the next steps to take on your social media channels
Our social media audit is perfect for any brand looking to gain expert insight into its presence on Facebook, Instagram, Linkedin and Twitter.

Your social team, whether in-house or outsourced, will appreciate the recommendations and can use the provided stats as benchmarks to help measure your success as you move forward.

After analyzing your channels you’ll receive a detailed report that provides:

• Performance benchmarks
• Audience insights and content analysis
• Optimal content publishing times
• How you compare to competitors
• Specific next steps for moving forward

INVESTMENT: starting at $2500 

Audits are delivered within 3 weeks and then you’ll receive a 1-hour phone consultation to discuss report findings and answer questions you may have.</p>
              </article>
              <article id='tabs-2'>
                <img src="assets/images/single_service_02.jpg" alt="">
                <h4>Social Media Management</h4>
                <p>
Is social media management overwhelming you and underwhelming your fans?
If you’re struggling to consistently and effectively maintain your brand’s channels, our social media management service is just what you need. 

We’ll get to know your brand better than anyone else during our in-depth discovery process and provide everything you need to be successful on your channels every month. You’ll also be paired with a social media manager who has over 5 years of professional experience. Our program includes:

• Custom monthly content calendars 
• Publishing at best times for engagement 
• Responding to fans in a timely manner
• Post promotion to reach more people
• Monthly channel performance reports

INVESTMENT: $2000-$7500 monthly (depending on the number of social channels, community size, creative needs, and publishing frequency)

You’ll never find billing surprises or be locked into a long-term contract when working with us. Our agreements roll over from month-to-month with you having the option to end with 30 days’ notice.</p>
              </article>
              <article id='tabs-3'>
                <img src="assets/images/single_service_03.jpg" alt="">
                <h4>STUDIO SERVICES</h4>
                <p>Our in-house creative capabilities include photography and video to help make your brand’s products and message stand out in crowded and competitive social media feeds. Below are examples of our recent work.
PHOTOGRAPHY
VIDEOGRAPHY
DESIGN</p>
              </article>
              <article id='tabs-4'>
                <img src="assets/images/single_service_04.jpg" alt="">
                <h4>Social Media Ads</h4>
                <p>Looking for the fastest way to get more awareness, traffic, engagement, and sales?
Brands are facing a battle against the algorithms as organic reach continues to decline on social media. You’re almost forced to pay to play these days. 

Our social media ads service helps you reach the right people with the right message in the right places to support any marketing objective you may have.

We’ve successfully managed over $1 million in social ad spends for brands. Our service includes:

• Audience identification and targeting
• Creative development
• Daily monitoring and management
• Budget optimization
• Campaign performance reports

INVESTMENT: dependent on ad spend</p>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>