<div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>All Copyright  reserved by &copy; Bhakkar Tech Hub .</p>
          </div>
        </div>
      </div>
    </div>