 <!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image" >
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      {{!-- <img src="assets/images/testimonial-2.jpg" alt="" class="rounded-circle b-shadow-a"> --}}
                      <span class="author">Kihaynes</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                       Absolutely amazing designer. Definitely took my wants for my design into consideration and was considered of the few alterations requested. Would love to work with and refer to anyone again in a heartbeat.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      {{!-- <img src="assets/images/testimonial-2.jpg" alt="" class="rounded-circle b-shadow-a"> --}}
                      <span class="author">Bluecastuk</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                       Amazing to work with uunderstanding the project and great communication
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author">Abishek</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        Great work, thanks
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author">Mogang</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        Super fast and efficient. Just what I wanted.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author">fiverranthony</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        Very Professional, quick turnaround.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>

            <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">
          
        </div> -->
          </div>
        </div>
      </div>
    </div><!-- End Testimonials Section -->